body {
 margin-top: 10px;   
}

#logo {
 margin-bottom:50px;   
}

#words-collection .pager li > a.active {
        text-decoration: none;
        background-color: #AFE5B6;
        color: #000000;
}

#words-collection {
 margin-bottom:15px;   
}

.source-button {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    right: 30px;
    z-index: 1000;
    font-weight: bold;
}

.gif-img:hover + .source-button, .source-button:hover{     
    visibility: visible !important;
}

.overlay {
    z-index:100;
    background-color:grey;
    opacity:0.5;
}

#gifs .row {
    min-height: 170px;
    max-height: 200px;
}